$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #7100FE;
$secondary_paletteKeyColor: #866F91;
$tertiary_paletteKeyColor: #956893;
$neutral_paletteKeyColor: #7A7582;
$neutral_variant_paletteKeyColor: #7B7484;
$background: #15121C;
$onBackground: #E7E0EE;
$surface: #15121C;
$surfaceDim: #15121C;
$surfaceBright: #3B3743;
$surfaceContainerLowest: #100D16;
$surfaceContainerLow: #1D1A24;
$surfaceContainer: #211E28;
$surfaceContainerHigh: #2C2833;
$surfaceContainerHighest: #37333E;
$onSurface: #E7E0EE;
$surfaceVariant: #4A4453;
$onSurfaceVariant: #CBC3D5;
$inverseSurface: #E7E0EE;
$inverseOnSurface: #322F3A;
$outline: #958E9E;
$outlineVariant: #4A4453;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #D1BCFF;
$primary: #D1BCFF;
$onPrimary: #3D008F;
$primaryContainer: #5800C8;
$onPrimaryContainer: #EADDFF;
$inversePrimary: #740FFF;
$secondary: #D8BDE4;
$onSecondary: #3C2947;
$secondaryContainer: #533F5F;
$onSecondaryContainer: #F4D9FF;
$tertiary: #EAB6E5;
$onTertiary: #472248;
$tertiaryContainer: #B082AD;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #EADDFF;
$primaryFixedDim: #D1BCFF;
$onPrimaryFixed: #24005B;
$onPrimaryFixedVariant: #5800C8;
$secondaryFixed: #F4D9FF;
$secondaryFixedDim: #D8BDE4;
$onSecondaryFixed: #261431;
$onSecondaryFixedVariant: #533F5F;
$tertiaryFixed: #FFD6FA;
$tertiaryFixedDim: #EAB6E5;
$onTertiaryFixed: #300D32;
$onTertiaryFixedVariant: #603960;
