$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FD006C;
$secondary_paletteKeyColor: #9E6A64;
$tertiary_paletteKeyColor: #A7674A;
$neutral_paletteKeyColor: #877275;
$neutral_variant_paletteKeyColor: #8A7174;
$background: #1D1012;
$onBackground: #F7DCDF;
$surface: #1D1012;
$surfaceDim: #1D1012;
$surfaceBright: #463537;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #26181A;
$surfaceContainer: #2A1C1E;
$surfaceContainerHigh: #362628;
$surfaceContainerHighest: #413033;
$onSurface: #F7DCDF;
$surfaceVariant: #574144;
$onSurfaceVariant: #DDBFC3;
$inverseSurface: #F7DCDF;
$inverseOnSurface: #3C2C2F;
$outline: #A58A8E;
$outlineVariant: #574144;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB2BF;
$primary: #FFB2BF;
$onPrimary: #660027;
$primaryContainer: #90003A;
$onPrimaryContainer: #FFD9DE;
$inversePrimary: #BC004E;
$secondary: #F5B7B0;
$onSecondary: #4C2521;
$secondaryContainer: #673B36;
$onSecondaryContainer: #FFDAD5;
$tertiary: #FFB596;
$onTertiary: #52230B;
$tertiaryContainer: #C48062;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFD9DE;
$primaryFixedDim: #FFB2BF;
$onPrimaryFixed: #3F0015;
$onPrimaryFixedVariant: #90003A;
$secondaryFixed: #FFDAD5;
$secondaryFixedDim: #F5B7B0;
$onSecondaryFixed: #33110D;
$onSecondaryFixedVariant: #673B36;
$tertiaryFixed: #FFDBCD;
$tertiaryFixedDim: #FFB596;
$onTertiaryFixed: #360F00;
$onTertiaryFixedVariant: #6D381F;
