$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #00C4FF;
$secondary_paletteKeyColor: #607994;
$tertiary_paletteKeyColor: #6277A5;
$neutral_paletteKeyColor: #6E797F;
$neutral_variant_paletteKeyColor: #6B7981;
$background: #0B151A;
$onBackground: #D9E4EB;
$surface: #0B151A;
$surfaceDim: #0B151A;
$surfaceBright: #303B40;
$surfaceContainerLowest: #060F15;
$surfaceContainerLow: #131D22;
$surfaceContainer: #172126;
$surfaceContainerHigh: #212B31;
$surfaceContainerHighest: #2C363C;
$onSurface: #D9E4EB;
$surfaceVariant: #3B4950;
$onSurfaceVariant: #BBC9D2;
$inverseSurface: #D9E4EB;
$inverseOnSurface: #283237;
$outline: #85939B;
$outlineVariant: #3B4950;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #71D2FF;
$primary: #71D2FF;
$onPrimary: #003547;
$primaryContainer: #004D66;
$onPrimaryContainer: #C0E8FF;
$inversePrimary: #006686;
$secondary: #AFC9E7;
$onSecondary: #17324A;
$secondaryContainer: #324B64;
$onSecondaryContainer: #D1E6FF;
$tertiary: #B1C6F9;
$onTertiary: #183059;
$tertiaryContainer: #7B91C0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #C0E8FF;
$primaryFixedDim: #71D2FF;
$onPrimaryFixed: #001E2B;
$onPrimaryFixedVariant: #004D66;
$secondaryFixed: #CEE5FF;
$secondaryFixedDim: #AFC9E7;
$onSecondaryFixed: #001D33;
$onSecondaryFixedVariant: #2F4961;
$tertiaryFixed: #D8E2FF;
$tertiaryFixedDim: #B1C6F9;
$onTertiaryFixed: #001A41;
$onTertiaryFixedVariant: #304671;
