$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #00F4FE;
$secondary_paletteKeyColor: #547D8A;
$tertiary_paletteKeyColor: #497D9B;
$neutral_paletteKeyColor: #6C7A7B;
$neutral_variant_paletteKeyColor: #697A7B;
$background: #EEFCFD;
$onBackground: #111E1E;
$surface: #EEFCFD;
$surfaceDim: #CFDDDD;
$surfaceBright: #EEFCFD;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #E8F6F7;
$surfaceContainer: #E2F1F1;
$surfaceContainerHigh: #DDEBEB;
$surfaceContainerHighest: #D7E5E6;
$onSurface: #111E1E;
$surfaceVariant: #D4E6E7;
$onSurfaceVariant: #394A4B;
$inverseSurface: #263333;
$inverseOnSurface: #E5F3F4;
$outline: #667879;
$outlineVariant: #B8CACB;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00696E;
$primary: #00696E;
$onPrimary: #FFFFFF;
$primaryContainer: #62F7FF;
$onPrimaryContainer: #002021;
$inversePrimary: #00DCE5;
$secondary: #3B6471;
$onSecondary: #FFFFFF;
$secondaryContainer: #BCE7F5;
$onSecondaryContainer: #001F27;
$tertiary: #477A99;
$onTertiary: #FFFFFF;
$tertiaryContainer: #477A99;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #62F7FF;
$primaryFixedDim: #00DCE5;
$onPrimaryFixed: #002021;
$onPrimaryFixedVariant: #004F53;
$secondaryFixed: #BFE9F8;
$secondaryFixedDim: #A3CDDB;
$onSecondaryFixed: #001F27;
$onSecondaryFixedVariant: #224C58;
$tertiaryFixed: #C5E7FF;
$tertiaryFixedDim: #9ACDEE;
$onTertiaryFixed: #001E2D;
$onTertiaryFixedVariant: #0D4C68;
