$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FC0076;
$secondary_paletteKeyColor: #9E6A66;
$tertiary_paletteKeyColor: #A7674D;
$neutral_paletteKeyColor: #877276;
$neutral_variant_paletteKeyColor: #8A7175;
$background: #FFF8F7;
$onBackground: #26181B;
$surface: #FFF8F7;
$surfaceDim: #EED4D8;
$surfaceBright: #FFF8F7;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0F1;
$surfaceContainer: #FFE8EB;
$surfaceContainerHigh: #FCE2E6;
$surfaceContainerHighest: #F6DCE0;
$onSurface: #26181B;
$surfaceVariant: #FADBE0;
$onSurfaceVariant: #564145;
$inverseSurface: #3C2C2F;
$inverseOnSurface: #FFECEE;
$outline: #876E73;
$outlineVariant: #DDBFC4;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BB0056;
$primary: #BB0056;
$onPrimary: #FFFFFF;
$primaryContainer: #FFD9E0;
$onPrimaryContainer: #3F0018;
$inversePrimary: #FFB1C2;
$secondary: #82524E;
$onSecondary: #FFFFFF;
$secondaryContainer: #FEC0BA;
$onSecondaryContainer: #33110F;
$tertiary: #A4644B;
$onTertiary: #FFFFFF;
$tertiaryContainer: #A4644B;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #FFD9E0;
$primaryFixedDim: #FFB1C2;
$onPrimaryFixed: #3F0018;
$onPrimaryFixedVariant: #8F0040;
$secondaryFixed: #FFDAD7;
$secondaryFixedDim: #F5B7B2;
$onSecondaryFixed: #33110F;
$onSecondaryFixedVariant: #663B38;
$tertiaryFixed: #FFDBCE;
$tertiaryFixedDim: #FFB599;
$onTertiaryFixed: #370E00;
$onTertiaryFixedVariant: #6E3822;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
