
$radius: 8px;
$font: "Ubuntu Nerd Font", "Fira Code", "Fira Mono", "Droid Sans Mono";
$bar-height: 25px;
@use "sass:color";
@import "./color";
$bg: $background;
$fg: $onBackground;
$accent: $surfaceContainer ;
$primary: $primary;
.bar{
  /* margin-right: 0.273rem; */
  min-height: $bar-height;
  background: #ffffff;
  font-family: $font;
  border-radius: 8px;
  padding: 7px;
  /* min-width: $screen_width; */
  padding: 4px;
  background-color: $bg;
  color: $fg;
  font-size: 1.0em;
  font-weight: bold;
  border-radius: $radius;

}
.cir{
  background-color: $accent;
  color: $accent;

}
.icon{
  background-color: transparent;
  margin:0px;
  padding:0px;
}
.panel{
  background-color: $accent;
  border-radius:$radius;
  /* min-width: 100px; */
  padding:3px;
  /* padding-left: 7px; */
  /* padding-right: 7px; */
  /* padding-top:0px; */
  /* padding-bottom:0px; */
  margin-top:0px;
  margin-bottom:0px;
  margin-left:3px;
  margin-right:3px;
  /* margin-top: 5px; */
  min-height: $bar-height*calc(10/100);
  /* min-height: 10px; */
}
.play-pause{
  background-color: $accent;
  border: $fg;
  border-radius: 100%;
  padding:0px;
  margin: 0px;
  /* min-width: 10px; */
  /* min-height: 10px; */
}
.text{
  color: $fg;
  margin: 0px;
  padding: 0px;
}

.button {
    all: unset;
    background-color: transparent;

    &:hover label {
        background-color: color.adjust($fg, $alpha: -0.8);
        border-color: color.adjust($accent, $alpha: -0.8);
    }

    &:active label {
        background-color: color.adjust($fg, $alpha: -0.8);
    }
}
.work {
  /* all: unset; */
  color: $fg;
  background-color: transparent;
  min-height:$bar-height * calc(90/100);
  min-width:$bar-height * calc(90/100);
  padding: 0px;
  margin-top:0px;
  margin-bottom:0px;
  &:hover label {
      background-color: color.adjust($accent, $alpha: -0.8);
      border-color: color.adjust($fg, $alpha: -0.8);
      border-radius: $radius;
  }
  &:active label {
      background-color: color.adjust($fg, $alpha: -0.8);
      border-radius: $radius;
  }
}
.label {
    transition: 200ms;
    padding: 0 8px;
    margin: 2px;
    border-radius: $radius;
    border: 1pt solid transparent;
}

.work-focused{
    background-color: $primary;
    color: $accent;
    min-height:$bar-height * calc(84/100);
    min-width:$bar-height * calc(90/100);
    padding: 0px;
    margin-top:0px;
    margin-bottom:0px;
}
.mediaBut{
    background-color: $primary;
    color: $accent;
    min-height:$bar-height * calc(84/100);
    min-width:$bar-height * calc(90/100);
    padding: 0px;
    margin:0px;
}

.FocusedClient {
    color: $accent;
}

.Cover {
    /* min-height: 1.2em; */
    /* min-width: 1.2em; */
    border-radius: $radius;
    background-position: center;
    background-size: contain;
    padding: 0px;
    margin-top:0px;
    margin-bottom:0px;
}

.Time{
  margin-left:3px;
  margin-right:3px;
}
.Wifi{
  margin-left:3px;
  margin-right:3px;
}
.Battery {
    margin-left: 3px;
    margin-right:3px;
    padding:0px;
    margin-top:0px;
    margin-bottom:0px;
}
.AudioSlider {
    * {
        all: unset;
        padding:0px;
        margin-top:0px;
        margin-bottom:0px;

    }

    icon {
        margin-right: .6em;
    }

    trough {
        background-color: color.adjust($fg, $alpha: -0.8);
        border-radius: $radius;
    }

    highlight {
        background-color: $primary;
        min-height: .8em;
        border-radius: $radius;
    }

    slider {
        background-color: $fg;
        border-radius: $radius;
        min-height: 1em;
        min-width: 1em;
        margin: -.2em;
        border-color: $primary;
    }
}

.volumeIcon {
  color: $fg;
}
