$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #8D0BFF;
$secondary_paletteKeyColor: #886E90;
$tertiary_paletteKeyColor: #966891;
$neutral_paletteKeyColor: #7C7481;
$neutral_variant_paletteKeyColor: #7D7484;
$background: #FFF7FF;
$onBackground: #1E1A24;
$surface: #FFF7FF;
$surfaceDim: #E1D7E5;
$surfaceBright: #FFF7FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FBF0FF;
$surfaceContainer: #F5EAF9;
$surfaceContainerHigh: #EFE5F3;
$surfaceContainerHighest: #E9DFEE;
$onSurface: #1E1A24;
$surfaceVariant: #EADEF1;
$onSurfaceVariant: #4B4452;
$inverseSurface: #342E39;
$inverseOnSurface: #F8EDFC;
$outline: #7A7181;
$outlineVariant: #CDC3D4;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #8400F1;
$primary: #8400F1;
$onPrimary: #FFFFFF;
$primaryContainer: #EEDBFF;
$onPrimaryContainer: #6400B9;
$inversePrimary: #D9B9FF;
$secondary: #6E5676;
$onSecondary: #FFFFFF;
$secondaryContainer: #F7D8FF;
$onSecondaryContainer: #553F5D;
$tertiary: #93668F;
$onTertiary: #FFFFFF;
$tertiaryContainer: #93668F;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #EEDBFF;
$primaryFixedDim: #D9B9FF;
$onPrimaryFixed: #2A0054;
$onPrimaryFixedVariant: #6400B9;
$secondaryFixed: #F7D8FF;
$secondaryFixedDim: #DABDE2;
$onSecondaryFixed: #27142F;
$onSecondaryFixedVariant: #553F5D;
$tertiaryFixed: #FFD6F7;
$tertiaryFixedDim: #EBB6E4;
$onTertiaryFixed: #300C30;
$onTertiaryFixedVariant: #61385E;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
$onAny: #000000;
