$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #0073FD;
$secondary_paletteKeyColor: #727497;
$tertiary_paletteKeyColor: #7C6FA3;
$neutral_paletteKeyColor: #747783;
$neutral_variant_paletteKeyColor: #727785;
$background: #FAF9FF;
$onBackground: #181B25;
$surface: #FAF9FF;
$surfaceDim: #D7D9E6;
$surfaceBright: #FAF9FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F1F3FF;
$surfaceContainer: #EBEDFB;
$surfaceContainerHigh: #E5E7F5;
$surfaceContainerHighest: #E0E2EF;
$onSurface: #181B25;
$surfaceVariant: #DEE2F2;
$onSurfaceVariant: #424754;
$inverseSurface: #2D303A;
$inverseOnSurface: #EEF0FD;
$outline: #707482;
$outlineVariant: #C2C6D6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #0059C7;
$primary: #0059C7;
$onPrimary: #FFFFFF;
$primaryContainer: #D9E2FF;
$onPrimaryContainer: #004298;
$inversePrimary: #AFC6FF;
$secondary: #5A5C7E;
$onSecondary: #FFFFFF;
$secondaryContainer: #D6D7FF;
$onSecondaryContainer: #424465;
$tertiary: #7A6DA0;
$onTertiary: #FFFFFF;
$tertiaryContainer: #7A6DA0;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #D9E2FF;
$primaryFixedDim: #AFC6FF;
$onPrimaryFixed: #001943;
$onPrimaryFixedVariant: #004298;
$secondaryFixed: #E0E0FF;
$secondaryFixedDim: #C2C3EB;
$onSecondaryFixed: #161937;
$onSecondaryFixedVariant: #424465;
$tertiaryFixed: #E8DDFF;
$tertiaryFixedDim: #CDBEF7;
$onTertiaryFixed: #1F1341;
$onTertiaryFixedVariant: #4B3F6F;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
$onAny: #000000;
