$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #6409FF;
$secondary_paletteKeyColor: #836F92;
$tertiary_paletteKeyColor: #926995;
$neutral_paletteKeyColor: #797582;
$neutral_variant_paletteKeyColor: #7A7585;
$background: #FDF7FF;
$onBackground: #1D1A24;
$surface: #FDF7FF;
$surfaceDim: #DED7E6;
$surfaceBright: #FDF7FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F8F1FF;
$surfaceContainer: #F2EBFA;
$surfaceContainerHigh: #ECE5F4;
$surfaceContainerHighest: #E6E0EF;
$onSurface: #1D1A24;
$surfaceVariant: #E7DFF2;
$onSurfaceVariant: #494553;
$inverseSurface: #322F3A;
$inverseOnSurface: #F5EEFD;
$outline: #777282;
$outlineVariant: #CAC4D5;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #6821FF;
$primary: #6821FF;
$onPrimary: #FFFFFF;
$primaryContainer: #E7DEFF;
$onPrimaryContainer: #4F00D0;
$inversePrimary: #CDBDFF;
$secondary: #6A5779;
$onSecondary: #FFFFFF;
$secondaryContainer: #EFD7FF;
$onSecondaryContainer: #514060;
$tertiary: #8F6793;
$onTertiary: #FFFFFF;
$tertiaryContainer: #8F6793;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #93000A;
$primaryFixed: #E7DEFF;
$primaryFixedDim: #CDBDFF;
$onPrimaryFixed: #20005F;
$onPrimaryFixedVariant: #4F00D0;
$secondaryFixed: #F1DAFF;
$secondaryFixedDim: #D5BEE5;
$onSecondaryFixed: #241532;
$onSecondaryFixedVariant: #514060;
$tertiaryFixed: #FFD5FF;
$tertiaryFixedDim: #E6B7E8;
$onTertiaryFixed: #2E0D34;
$onTertiaryFixedVariant: #5E3962;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
$onAny: #000000;
