$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FC003C;
$secondary_paletteKeyColor: #9D6B5A;
$tertiary_paletteKeyColor: #A36A40;
$neutral_paletteKeyColor: #887271;
$neutral_variant_paletteKeyColor: #8B7170;
$background: #1E100F;
$onBackground: #F8DCDB;
$surface: #1E100F;
$surfaceDim: #1E100F;
$surfaceBright: #473534;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #271817;
$surfaceContainer: #2B1C1B;
$surfaceContainerHigh: #362625;
$surfaceContainerHighest: #423030;
$onSurface: #F8DCDB;
$surfaceVariant: #584141;
$onSurfaceVariant: #DFBFBE;
$inverseSurface: #F8DCDB;
$inverseOnSurface: #3D2C2C;
$outline: #A68A89;
$outlineVariant: #584141;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB3B2;
$primary: #FFB3B2;
$onPrimary: #680013;
$primaryContainer: #92001F;
$onPrimaryContainer: #FFDAD9;
$inversePrimary: #BF002B;
$secondary: #F5B9A5;
$onSecondary: #4C2619;
$secondaryContainer: #693E30;
$onSecondaryContainer: #FFDDD2;
$tertiary: #FDB787;
$onTertiary: #4F2502;
$tertiaryContainer: #C18357;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDAD9;
$primaryFixedDim: #FFB3B2;
$onPrimaryFixed: #410008;
$onPrimaryFixedVariant: #92001F;
$secondaryFixed: #FFDBD0;
$secondaryFixedDim: #F5B9A5;
$onSecondaryFixed: #321207;
$onSecondaryFixedVariant: #663C2E;
$tertiaryFixed: #FFDCC6;
$tertiaryFixedDim: #FDB787;
$onTertiaryFixed: #301400;
$onTertiaryFixedVariant: #6A3B15;
