$darkmode: true;
$primary: #ffb2c1;
$onPrimary: #660025;
$primaryContainer: #8a133b;
$onPrimaryContainer: #ffd9df;
$secondary: #e4bdc2;
$onSecondary: #43292e;
$secondaryContainer: #5c3f44;
$onSecondaryContainer: #ffd9de;
$tertiary: #eabe90;
$onTertiary: #452b09;
$tertiaryContainer: #5f401c;
$onTertiaryContainer: #ffdcb8;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F10;
$background: #130F10;
$onBackground: #ecdfe0;
$surface: #201a1b;
$onSurface: #ecdfe0;
$surfaceVariant: #524345;
$onSurfaceVariant: #d6c2c4;
$outline: #9e8c8e;
$shadow: #000000;
$inverseSurface: #ecdfe0;
$inverseOnSurface: #362f30;
$inversePrimary: #aa2f52;
