$darkmode: true;
$primary: #c0c1ff;
$onPrimary: #1e1891;
$primaryContainer: #3736a6;
$onPrimaryContainer: #e1e0ff;
$secondary: #c6c4dd;
$onSecondary: #2f2f42;
$secondaryContainer: #454559;
$onSecondaryContainer: #e2e0f9;
$tertiary: #e9b9d3;
$onTertiary: #46263a;
$tertiaryContainer: #5f3c51;
$onTertiaryContainer: #ffd7ed;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #18181B;
$background: #18181B;
$onBackground: #e5e1e6;
$surface: #1b1b1e;
$onSurface: #e5e1e6;
$surfaceVariant: #47464f;
$onSurfaceVariant: #c8c5d0;
$outline: #918f99;
$shadow: #000000;
$inverseSurface: #e5e1e6;
$inverseOnSurface: #313033;
$inversePrimary: #5050c0;
