$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #00FFFE;
$secondary_paletteKeyColor: #537E88;
$tertiary_paletteKeyColor: #457E98;
$neutral_paletteKeyColor: #6C7A79;
$neutral_variant_paletteKeyColor: #697A79;
$background: #EEFCFB;
$onBackground: #111E1D;
$surface: #EEFCFB;
$surfaceDim: #CEDDDC;
$surfaceBright: #EEFCFB;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #E8F7F5;
$surfaceContainer: #E2F1F0;
$surfaceContainerHigh: #DDEBEA;
$surfaceContainerHighest: #D7E5E4;
$onSurface: #111E1D;
$surfaceVariant: #D3E6E5;
$onSurfaceVariant: #394A49;
$inverseSurface: #263332;
$inverseOnSurface: #E5F4F3;
$outline: #667877;
$outlineVariant: #B8CAC9;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #006A69;
$primary: #006A69;
$onPrimary: #FFFFFF;
$primaryContainer: #00FCFA;
$onPrimaryContainer: #002020;
$inversePrimary: #00DDDC;
$secondary: #3A656E;
$onSecondary: #FFFFFF;
$secondaryContainer: #BDEAF5;
$onSecondaryContainer: #001F25;
$tertiary: #437B96;
$onTertiary: #FFFFFF;
$tertiaryContainer: #437B96;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #00FCFA;
$primaryFixedDim: #00DDDC;
$onPrimaryFixed: #002020;
$onPrimaryFixedVariant: #00504F;
$secondaryFixed: #BDEAF5;
$secondaryFixedDim: #A2CED9;
$onSecondaryFixed: #001F25;
$onSecondaryFixedVariant: #204D56;
$tertiaryFixed: #C0E8FF;
$tertiaryFixedDim: #96CEEB;
$onTertiaryFixed: #001E2B;
$onTertiaryFixedVariant: #034D65;
