$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #00D9FF;
$secondary_paletteKeyColor: #5A7B90;
$tertiary_paletteKeyColor: #577AA2;
$neutral_paletteKeyColor: #6D797D;
$neutral_variant_paletteKeyColor: #6A7A7F;
$background: #F1FBFF;
$onBackground: #121D21;
$surface: #F1FBFF;
$surfaceDim: #D0DCE1;
$surfaceBright: #F1FBFF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #E9F6FA;
$surfaceContainer: #E3F0F5;
$surfaceContainerHigh: #DEEAEF;
$surfaceContainerHighest: #D8E5E9;
$onSurface: #121D21;
$surfaceVariant: #D5E5EB;
$onSurfaceVariant: #3A494E;
$inverseSurface: #273236;
$inverseOnSurface: #E6F3F7;
$outline: #67777C;
$outlineVariant: #B9C9CF;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00687B;
$primary: #00687B;
$onPrimary: #FFFFFF;
$primaryContainer: #AEECFF;
$onPrimaryContainer: #001F26;
$inversePrimary: #00D9FF;
$secondary: #416277;
$onSecondary: #FFFFFF;
$secondaryContainer: #C2E4FC;
$onSecondaryContainer: #001E2D;
$tertiary: #54779F;
$onTertiary: #FFFFFF;
$tertiaryContainer: #54779F;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #AEECFF;
$primaryFixedDim: #00D9FF;
$onPrimaryFixed: #001F26;
$onPrimaryFixedVariant: #004E5D;
$secondaryFixed: #C5E7FF;
$secondaryFixedDim: #A9CBE3;
$onSecondaryFixed: #001E2D;
$onSecondaryFixedVariant: #294B5E;
$tertiaryFixed: #D1E4FF;
$tertiaryFixedDim: #A6C9F5;
$onTertiaryFixed: #001D36;
$onTertiaryFixedVariant: #23496E;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
