$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FF7B02;
$secondary_paletteKeyColor: #967049;
$tertiary_paletteKeyColor: #947131;
$neutral_paletteKeyColor: #887368;
$neutral_variant_paletteKeyColor: #8B7264;
$background: #FFF8F5;
$onBackground: #261910;
$surface: #FFF8F5;
$surfaceDim: #EFD5C7;
$surfaceBright: #FFF8F5;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF1EA;
$surfaceContainer: #FFEADF;
$surfaceContainerHigh: #FEE3D5;
$surfaceContainerHighest: #F8DDD0;
$onSurface: #261910;
$surfaceVariant: #FBDCCC;
$onSurfaceVariant: #574236;
$inverseSurface: #3D2D24;
$inverseOnSurface: #FFEDE5;
$outline: #887062;
$outlineVariant: #DEC1B1;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #994700;
$primary: #994700;
$onPrimary: #FFFFFF;
$primaryContainer: #FFDBC8;
$onPrimaryContainer: #321300;
$inversePrimary: #FFB68B;
$secondary: #7A5732;
$onSecondary: #FFFFFF;
$secondaryContainer: #FECEA0;
$onSecondaryContainer: #2C1600;
$tertiary: #926F2F;
$onTertiary: #FFFFFF;
$tertiaryContainer: #926F2F;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #FFDBC8;
$primaryFixedDim: #FFB68B;
$onPrimaryFixed: #321300;
$onPrimaryFixedVariant: #743400;
$secondaryFixed: #FFDCBD;
$secondaryFixedDim: #ECBE91;
$onSecondaryFixed: #2C1600;
$onSecondaryFixedVariant: #60401D;
$tertiaryFixed: #FFDEAA;
$tertiaryFixedDim: #EBC078;
$onTertiaryFixed: #271900;
$onTertiaryFixedVariant: #5E4102;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
