$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FE6500;
$secondary_paletteKeyColor: #996E4D;
$tertiary_paletteKeyColor: #9A6F34;
$neutral_paletteKeyColor: #887269;
$neutral_variant_paletteKeyColor: #8B7167;
$background: #FFF8F6;
$onBackground: #271812;
$surface: #FFF8F6;
$surfaceDim: #F0D4CA;
$surfaceBright: #FFF8F6;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF1EC;
$surfaceContainer: #FFE9E2;
$surfaceContainerHigh: #FEE2D8;
$surfaceContainerHighest: #F8DDD2;
$onSurface: #271812;
$surfaceVariant: #FCDCCF;
$onSurfaceVariant: #584239;
$inverseSurface: #3D2D26;
$inverseOnSurface: #FFEDE7;
$outline: #896F65;
$outlineVariant: #DFC0B4;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A33E00;
$primary: #A33E00;
$onPrimary: #FFFFFF;
$primaryContainer: #FFDBCD;
$onPrimaryContainer: #360F00;
$inversePrimary: #FFB596;
$secondary: #7D5636;
$onSecondary: #FFFFFF;
$secondaryContainer: #FFCAA3;
$onSecondaryContainer: #2F1500;
$tertiary: #976C32;
$onTertiary: #FFFFFF;
$tertiaryContainer: #976C32;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #FFDBCD;
$primaryFixedDim: #FFB596;
$onPrimaryFixed: #360F00;
$onPrimaryFixedVariant: #7C2D00;
$secondaryFixed: #FFDCC4;
$secondaryFixedDim: #F0BC95;
$onSecondaryFixed: #2F1500;
$onSecondaryFixedVariant: #623F21;
$tertiaryFixed: #FFDDB6;
$tertiaryFixedDim: #F2BD7A;
$onTertiaryFixed: #2A1800;
$onTertiaryFixedVariant: #633F06;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
