[Unit]
Description=randomdisservice

[Service]
User=root
WorkingDirectory=/home/{whoami}/.bin/bin
ExecStart=/home/{whoami}/.bin/bin/randomdis
# optional items below
Restart=no

[Install]
WantedBy=multi-user.target
