$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #6507FF;
$secondary_paletteKeyColor: #836F92;
$tertiary_paletteKeyColor: #926995;
$neutral_paletteKeyColor: #7A7582;
$neutral_variant_paletteKeyColor: #7A7585;
$background: #FDF7FF;
$onBackground: #1D1A24;
$surface: #FDF7FF;
$surfaceDim: #DED7E6;
$surfaceBright: #FDF7FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F8F1FF;
$surfaceContainer: #F2EBFA;
$surfaceContainerHigh: #ECE5F4;
$surfaceContainerHighest: #E6E0EF;
$onSurface: #1D1A24;
$surfaceVariant: #E7DFF2;
$onSurfaceVariant: #494553;
$inverseSurface: #322F3A;
$inverseOnSurface: #F5EEFD;
$outline: #777282;
$outlineVariant: #CAC4D5;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #6920FF;
$primary: #6920FF;
$onPrimary: #FFFFFF;
$primaryContainer: #E8DEFF;
$onPrimaryContainer: #20005F;
$inversePrimary: #CDBDFF;
$secondary: #6A5779;
$onSecondary: #FFFFFF;
$secondaryContainer: #EFD7FF;
$onSecondaryContainer: #241432;
$tertiary: #906793;
$onTertiary: #FFFFFF;
$tertiaryContainer: #906793;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #E8DEFF;
$primaryFixedDim: #CDBDFF;
$onPrimaryFixed: #20005F;
$onPrimaryFixedVariant: #5000D0;
$secondaryFixed: #F1DAFF;
$secondaryFixedDim: #D5BEE5;
$onSecondaryFixed: #241432;
$onSecondaryFixedVariant: #514060;
$tertiaryFixed: #FFD6FF;
$tertiaryFixedDim: #E7B7E8;
$onTertiaryFixed: #2E0D34;
$onTertiaryFixedVariant: #5E3962;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$crim: light;
