0 $darkmode: true;
1 $primary: #e2e2e2;
2 $onPrimary: #000000;
3 $primaryContainer: #6b6b6b;
4$onPrimaryContainer: #e2e2e2;
5$secondary: #e2e2e2;
6$onSecondary: #000000;
7$secondaryContainer: #313131;
8$onSecondaryContainer: #e2e2e2;
9$tertiary: #e2e2e2;
10$onTertiary: #000000;
11$tertiaryContainer: #000000;
12$onTertiaryContainer: #e2e2e2;
13$error: #e2e2e2;
14$onError: #000000;
15$errorContainer: #000000;
16$onErrorContainer: #e2e2e2;
17$colorbarbg: #000000;
18$background: #000000;
19$onBackground: #e2e2e2;
20$surface: #161616;
21$onSurface: #e2e2e2;
22$surfaceVariant: #242424;
23$onSurfaceVariant: #e2e2e2;
$outline: #a1a1a1;
$shadow: #000000;
$inverseSurface: #e2e2e2;
$inverseOnSurface: #000000;
$inversePrimary: #e2e2e2;
