* {
    background:     #120C15;
    background-alt: #18111A;
    foreground:     #ECDEEC;
    selected:       #62AEEFFF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #E8B3FF;
}
