* {
    background:     #0F0D17;
    background-alt: #14121C;
    foreground:     #E6E0EF;
    selected:       #62AEEFFF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #CDBDFF;
}
