* {
    background:     #FFFFFF;
    background-alt: #FFF8F6;
    foreground:     #261812;
    selected:       #62AEEFFF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #A14000;
}
