* {
    background:     #FFFFFF;
    background-alt: #FFF8F5;
    foreground:     #25190F;
    selected:       #924C00;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #924C00;
}
