* {
    background:     #FFFFFF;
    background-alt: #FFF8F6;
    foreground:     #271815;
    selected:       #C00001;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #C00001;
}
