* {
    background:     #FFFFFF;
    background-alt: #FFF8F6;
    foreground:     #271812;
    selected:       #A53C00;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    border:         #A53C00;
}
